*.hi
*.html
*.o
cbits/config.h
cbits/config.h.in
aclocal.m4
autom4te.cache
linear-algebra.buildinfo
config.status
config.log
configure
dist
tests/.hpc
tests/Makefile
tests/test-complex
tests/test-complex.tix
tests/test-real
tests/test-real.tix
